<!doctype html>
<html>
<head>
  <meta charset=utf-8>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'student/css/register.css' %}">
</head>
<body>
  {% if request.GET.login_failure %}
  <p class="text-center" style="color:red; font-size:25px;">Invalid username or password</p>
  {% endif %}
  <a href="{% url 'index' %}" class="btn btn-info btn-lg" style="float:left !important; margin-left:50px; margin-top:20px;">Back</a>
  <br>
  <div class="container">
    <h3 class="text-center">Login Here!!</h3><br>
    <form class="text-center " action="{% url 'authenticateuser' %}" method="post">
      {% csrf_token %}
      <div class="row margin-between-elements">
        <label for="" class="col-sm-2 text-center">Username</label>
        <input type="text" name="username" value="" class="col-sm-10 input-width" placeholder="Enter your username here" required>
      </div>

      <div class="row margin-between-elements">
        <label for="" class="col-sm-2 text-center">Pasword</label>
        <input type="password" name="password" value="" class="col-sm-10 input-width"  placeholder="Enter your password here" required>
      </div>

      <div class="text-center">
        <button type="submit" class="btn-info btn-lg" name="button">Login</button><br><br>
        <span style="font-size:20px; margin-right:65px;">Haven't Registered Yet -> <a href="{% url 'studentregister' %}">Register</a></span>
      </div>
    </form>
  </div>


</body>
</html>
