<!doctype html>
<html>
<head>
  <meta charset=utf-8>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  {% load static %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css'>
  <style media="screen">
    .col-sm-4{
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
    }
    h1{
      text-align: center;
      margin: 40px;
    }
    body{
      color:#2a73cc;
    }
    h3{
      text-align: center;
    }
  </style>
</head>
<body>
  <a href="{% url 'dashboard' %}" class="btn btn-info btn-lg" style="float:left !important; margin-left:50px; margin-top:20px;">Back</a>
  <br>
<h1>Student Ranking List</h1>
  <div class="row text-center">
    <div class="col-sm-4 text-center">
      <h3>Rank</h3>
      <hr>
      {% for r in rank_object %}
        <p>{{r}}</p>
        <hr>
        {% endfor %}
    </div>
    <div class="col-sm-4 text-center">
      <h3>Name</h3>
      <hr>
      {% for n in name %}
        <p>{{n}}</p>
        <hr>
        {% endfor %}
    </div>
    <div class="col-sm-4 text-center">
      <h3>Username</h3>
      <hr>
      {% for s in student %}
      <p>
        <a href="{% url 'studentprofile' username=s.username  %}" >{{s.username}}</a></p>
        <hr>
        {% endfor %}
    </div>
  </div>

</body>
</html>
