<!doctype html>
<html>
<head>
  <meta charset=utf-8>
  <title>Dashboard</title>
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'company/css/profile.css' %}">
</head>
<body>
<div class="row row-eq-height">
  <div class="col-sm-3 text-center">
    <nav class="navbar navbar-default navbar-fixed-top" style="width:24.5% !important; letter-spacing:10px !important;">
    <div class="container-fluid">
      <div class="navbar-header" style="letter-spacing:6px;">
        <a class="navbar-brand" href="#" style="color:#2a73cc;">KOLRAD</a>
      </div>
    </div>
  </nav>
    <ul>

      <li><a href="{% url 'selectstudents' %}">VIEW STUDENTS</a></li>
      <li><a href="{% url 'companynotice' %}">ADD NOTICES</a></li>
      <li><a href="{% url 'companyprofileupdate' %}">UPDATE INFO</a></li>

    </ul>
  </div>
  <div class="col-sm-9 text-center dash-row">
    {% if request.GET.auth %}
    <h3 class="text-center">INFO updated</h3>
    {% endif %}
    <span class="text-center">Howdy {{username}} , {{messageoftheday}}</span>
    <br>

    <div class="text-center profile">
      <p>Name: {{company.name}}</p>
      <p>Email: {{company.email}}</p>
      <p>WEBSITE:<a href="{{company.websiteurl}}">{{company.websiteurl}}</a></p>
      <p>Username: {{company.username}}</p><br><br><br><br>
    </div>
    <div class="notice"><hr>
       <div class="col-sm-6 aj text-center">

         <br>
         <br>
         <label for="Placements" class="control-label text-center">Placements:</label><br><br>
         <textarea class="form-control" rows="5" id="place" name="placements" required>{{notice.placements}}</textarea>
         <br>
         <br>
         <br>


       </div>

       <div class="col-sm-6 text-center aj">

         <br>
         <br>
         <label for="Internships" class="control-label text-center">Internships:</label><br><br>
         <textarea class="form-control" rows="5" id="intern" name="internships" required>{{notice.internships}}</textarea>
         <br>
         <br>
         <br>

       </div>

     </div>


     </div>
   </div>

 </div>

</div>
<footer class="text-center">
<p>Copyrights@kolrad</p>
<p>For any quesries contact us at 99999-99999</p>
<p>Email us at kolrad@gmail.com</p>
</footer>


</body>
</html>
